<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <form method="Post" action="">
      <div class="formulario">
        <h1><i>Recepcion de Dispositivos</i></h1>
      </div>
      <div>
        <label>Nombre del Cliente</label>
        <input type="text" id="Cliente" name="Comptador" />
        <p></p>
        <label>Telefono</label>
        <input type="tel" id="tel" name="Telefono" />
        <p></p>
        <label>Equipo</label>
        <input type="text" id="Equipo" name="Equipo" />
        <p></p>
        <label>Memoria</label>
        <input type="text" id="Memoria" name="Memoria" />
        <p></p>
        <label>Almacenamiento</label>
        <input type="text" id="Almacenamiento" name="Almacenamiento" />
        <p></p>
        <label>Problema</label>
        <input type="text" id="Problema" name="Problema" />
        <p></p>
        <label>Diagnostico</label>
        <input type="text" id="Diagnostico" name="Diagnostico" />
        <p></p>
        <label>Reparacion</label>
        <input type="text" id="Reparacion" name="Reparacion" />
        <p></p>
        <label>Costo</label>
        <input type="number" id="Costo" name="Costo" />
        <p></p>
        <label>Status</label>
        <input type="text" id="Status" name="Status" />
        <p></p>
        <label>Fecha de Recibido</label>
        <input type="date" id="Fecha" name="Fecha" />
      </div>
      <div>
        <input type="submit" value="Enviar Datos" />
      </div>
    </form>
  </body>
</html>
